@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap'); 

*{
   padding: 0;
   margin: 0;

}

.body{
     background: url("../img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Prosto One', cursive;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 130px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Prosto One', cursive;

}

#board{
    background: linear-gradient(rgb(165, 246, 165), rgb(253, 253, 194));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);

}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid red;
    transform: scale(1.02);
    border-radius:9px;

}

.snake{
    background-color: rgb(227, 138, 21);
    border: .25vmin solid rgb(130, 22, 22);
    border-radius: 12px;
}

.food{
    background-color: #FF9A8B;
    background: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    
    border: .25vmin solid rgba(0, 0, 0, 0.438);
    border-radius: 8px;
}